#main-header{
    text-align:center;
}

#navbar ul{
    list-style:none;
    padding:0;
}

#navbar li{
    display:inline;
}

#navbar a{
    text-decoration:none;
    color:#fff;
    padding-right:15px;
}

#navbar a:hover{
    color:#6CAC5a
}

#main{
    display:flex;
    align-items:center;
    padding-top:20px;
    padding-bottom:20px;
}

#desciption{
    width:40%
}

#headshot{
    width:60%;
    padding-right:20px
}

#portfolios{
    display:flex;
    flex-wrap:wrap;
}

.portfolio{
    width:50%;
    padding:5px;
    box-sizing:border-box;
}

#main-footer{
    text-align:center;
}

.container{
    width:80%;
    margin:auto;
}

@media(max-width:400px){
    #main{
        flex-wrap:wrap;
    }

    #headshot{
        width:100%;
    }

    .portfolio{
        width:100%;
    }
}
