html{
    font-size:18px;
    font-family: 'Cabin', sans-serif;
}

h1{
    color:#FEFCD7;
}

h2{
    color:#FEFCD7;
}

p{
    color:#FEFCD7;
}

body{
    margin:0;
    padding:0;
    background-color:#03254C;
}

#particles-js{
    width:100%;
    height:100%;
    z-index:-1;
    position:fixed;
}

#main-header{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    height:calc(100vh - 309px);
}

#main-header h1, #main-header h2{
    color:#FEFCD7;
}

#skyline-top{
    height:309px;
    background-image:url("../portfolio/images/city_skyline.png");
    background-repeat:repeat-x;
    animation:passingby;
    animation-duration:10s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes passingby{
    0% {background-position:0px;}
    100% {background-position:-1452px;}
}

#main-body{
    background-color:black;
}

#navbar ul{
    list-style:none;
    margin:0;
    padding-top:10px;
}

#navbar li{
    display:inline;
}

#navbar a{
    text-decoration:none;
    padding-right:10px;
    color:#FEFCD7;
}

#main{
    display:flex;
    align-items:center;
    padding-top:20px;
    padding-bottom:20px;
}

#desciption{
    width:40%
}

#headshot{
    width:60%;
    padding-right:20px
}

#portfolios{
    display:flex;
    flex-wrap:wrap;
}

.portfolio{
    width:50%;
    padding:5px;
    box-sizing:border-box;
}

.portfolio img{
    width:100%
}

#skyline-bottom{
    height:175px;
    background-image:url("../portfolio/images/cave.png");
    background-repeat:repeat-x;
}

#contact h2{
    margin-bottom:0;
}

#main-footer{
    background-color:black;
    text-align:center;
    color:white;
}

.container{
    width:80%;
    margin:auto;
}

@media(max-width:400px){
    #main{
        flex-wrap:wrap;
    }

    #headshot{
        width:100%;
    }

    .portfolio{
        width:100%;
    }
}
